*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
body.hot{
    background: linear-gradient(to bottom,rgba(0,0,0,0.8), rgba(0,0,0,0.1)),url(./image/hot.png) no-repeat center/cover ;
}
body.hot .weather-app{
    background-image: url('./image/hot.png');
}
body.cold{
    background: linear-gradient(to bottom,rgba(0,0,0,0.8), rgba(0,0,0,0.1)),url(./image/cold.png) no-repeat center/cover ;
}
body.cold .weather-app{
    background-image: url('./image/cold.png');
}
.weather-app{
    width: 350px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 20px;
    background: #ffff;
    background-size: cover;
}
.search input{
    font-size: 20px;
    height: 40px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    border-radius: 0px 15px 0px 15px;
    margin: 10px 0px 30px 0px;
    border: none;
    outline: none;
    box-shadow: 0px 4px 5px rgba(0,0,0,1);
    background: rgba(256,256,256,0.5);
}
.search input:focus{
    border-radius: 15px 0px 15px 0px;
    background: #ffff;
}
.place{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.city,.country,.champhay{
    font-size: 35px;
    font-weight: 500;
    color: #ffff;
    text-shadow: 0px 4px 5px rgba(0,0,0,1);
}
span{
    margin: 10px 3px;
}
.time{
    font-size: 15px;
    color: white;
    text-align: center;
}
.temparate{
    font-size: 60px;
    font-weight: bold;
    color: white;
    background: rgba(256,256,256,0.4);
    text-align: center;
    margin: 30px 45px 0 45px;
    border-radius: 10px;
    padding: 30px 0px 20px 0;
    box-shadow: 0 10px 20px rgba(0,0,0,1);
    text-shadow: 0 4px 5px rgba(0,0,0,1);
}
.weather{
    font-size: 45px;
    font-weight: bold;
    text-shadow: 0px 4px 5px black;
    color: white;
    text-align: center;
    margin: 40px 0px 40px 0px;
}
.visibility,.wind,.sun{
    color: #ffff;
}
p{
    margin:8px 0px 0px -15px;
}
.information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 30px 0px;
    margin: 0 10px;
}