
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffff;
    position: relative;
}
button{
    padding: 10px 15px;
    color: #ffff;
    border-radius: 5px;
    margin: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}
.success{
    background: #008000;
}
.error{
    background: #ffa500;
}
.warning{
    background: #ff0000;
}
.toast{
    position: fixed;
    top: 15px;
    right: 20px;
}
.btn-success,.btn-error,.btn-warning{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 340px;
    font-size: 20px;
    color: #ffff;
    border: none;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;

}
.btn-success{
    background: rgba(0,128,0,0.6);
    border-left: 5px solid #008000;
}
.countdown{
    position: absolute;

}
@keyframes countdown {
    from{

        
    }
    to{

    }
    
}
.btn-error{
    background: #ff0000;
}
.btn-warning{
    background:#ffa500 ;
}
.btn-success i{
    font-size: 30px;
    position: absolute;
    top: 30%;
    left:8%;
}
.btn-success p{
    position: absolute;
    top: 35%;
    left: 80px;
}
.btn-error i{
    font-size: 30px;
    position: absolute;
    top: 30%;
    left:8%;
}
.btn-error p{
    position: absolute;
    top: 35%;
    left: 80px;
}
.btn-warning i{
    font-size: 30px;
    position: absolute;
    top: 30%;
    left:8%;
}
.btn-warning p{
    position: absolute;
    top: 35%;
    left: 80px;
}



